﻿
<div ng-controller="PasseioController">

    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-body" style="min-height: 600px;">
                    <amigo-rota-app-map add-method="mapItemAdded" map-init="reloadMapMarks"></amigo-rota-app-map>

                </div>
            </div>

        </div>

        <div class="col-md-4">
            <form>
                <div class="box-group pousos-list" id="pousoAccordion">

                    <div class="panel box box-solid no-margin repeated-item" ng-repeat="repeatItem in PasseiosParadas"
                         ng-class="{'box-success': $last, 'box-primary': !$last, 'no-radius-bottom': $index == 0 && PasseiosParadas.length > 1, 'no-radius-top': $index > 0 && PasseiosParadas.length -1 == $index, 'no-radius': $index > 0 &&  $index < PasseiosParadas.length -1}">

                        <div class="box-header">
                            <div class="box-title full-width">
                                <div class="tools pull-right">
                                    <a data-toggle="collapse" class="fa fa-edit" data-parent="#pousoAccordion" href="#collapse{{$index}}" aria-expanded="false" ng-click="CollapseEdit(repeatItem, $index)"></a>
                                    <a class="fa fa-map-pin" ng-click="PanMapToMark(repeatItem)"></a>
                                    <a class="fa fa-trash-o" ng-click="DeleteMapMark(repeatItem)"></a>
                                </div>
                                <h4 ng-bind="repeatItem.Detail.Title" class="no-margin pull-left"></h4>

                            </div>
                        </div>

                        <div id="collapse{{$index}}" class="panel-collapse collapse">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Titulo</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                                        <input ng-model="repeatItem.Detail.Title" type="text" data-toggle="tooltip" title="Altere o título para identificar mais facil." class="form-control" placeholder="Titulo">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Valor:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                                        <input ng-model="repeatItem.Detail.Ammount" type="text" data-toggle="tooltip" title="Informe o valor a ser gasto." class="form-control" placeholder="0,00">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Tempo de Passeio</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar-check-o"></i>
                                        </div>
                                        <input ng-model="repeatItem.Detail.Time" placeholder="Tempo de parada" type="text" class="form-control" data-toggle="tooltip" title="Informe o tempo maximo que irá durar esse passeio." />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Detalhes</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                                        <textarea ng-model="repeatItem.Detail.Description" rows="4" type="text" data-toggle="tooltip" title="Informe mais detalhes do passeio." class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </form>


        </div>
    </div>
</div>
