﻿<h1>Trajetos</h1>

<div ng-controller="TrajetoController">
    <div class="row">
        <div class="col-md-3">
            <ul class="timeline">
                <li ng-repeat="Day in arrayAvaliableDays" class="time-label">
                    <span class="{{colors[Day.CurrentDate.date.getDay()]}}">
                        <a href="javascript:void(0);" style="color:#FFFFFF" ng-click="EditDate(Day)" ng-bind="Day.CurrentDate.toString()"></a>
                    </span>
                    <ul class="no-margin no-padding" ng-show="Day.Departure || Day.Arrival">
                        <li>
                            <i class="fa fa-user bg-aqua"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> {{Day.Departure.Detail.OutTime}}</span>
                                <h3 class="timeline-header no-border" ng-bind="Day.Departure.Detail.Title"></h3>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="box box-default" ng-if="SelectedDate">
                <div class="box-header">
                    <h3 class="box-title" ng-bind="SelectedDate.CurrentDate.toString()"> </h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div style="min-height: 600px;">
                                <amigo-rota-app-map add-method="mapItemAdded" map-init="reloadMapMarks"></amigo-rota-app-map>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div ng-controller="PousoController">
                                <div class="box-group pousos-list" id="pousoAccordion">
                                    <div class="panel box box-solid no-margin repeated-item" ng-repeat="Pousos in PousosHoteis"
                                         ng-class="{'box-success': $last, 'box-primary': !$last, 'no-radius-bottom': $index == 0 && PousosHoteis.length > 1, 'no-radius-top': $index > 0 && PousosHoteis.length -1 == $index, 'no-radius': $index > 0 &&  $index < PousosHoteis.length -1}">
                                        <div class="box-header">
                                            <div class="box-title full-width">
                                                <div class="tools pull-right">
                                                    <a data-toggle="collapse" class="fa fa-edit" data-parent="#pousoAccordion" href="#collapsepouso{{$index}}" aria-expanded="false" ng-click="CollapseEdit(Pousos, $index)"></a>
                                                    <a class="fa fa-map-pin" ng-click="PanMapToMark(Pousos)"></a>
                                                    <a class="fa fa-trash-o" ng-click="DeleteMapMark(Pousos)"></a>
                                                </div>
                                                <h4 ng-bind="Pousos.Detail.Title" class="no-margin pull-left"></h4>
                                            </div>
                                        </div>

                                        <div id="collapsepouso{{$index}}" class="panel-collapse collapse">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label>Horario Saida:</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                                                        <input ng-model="Pousos.Detail.OutTime" type="text" data-toggle="tooltip" title="Informe o horário de saida, moto em movimento." class="form-control" placeholder="0,00">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-footer">
                                                <button type="submit" class="btn btn-primary" ng-click="$parent.SetDayDeparture(SelectedDate, Pousos)">Ponto de Partida</button>
                                                <button type="submit" class="btn btn-primary" ng-click="$parent.SetDayArrival(SelectedDate, Pousos)">Ponto de Chegada</button>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>


                        </div>


                        <div class="col-md-2">


                            <form ng-controller="PasseioController">
                                <div class="box-group pousos-list" id="PasseioAccordion">

                                    <div class="panel box box-solid no-margin repeated-item" ng-repeat="repeatItem in PasseiosParadas"
                                         ng-class="{'box-success': $last, 'box-primary': !$last, 'no-radius-bottom': $index == 0 && PasseiosParadas.length > 1, 'no-radius-top': $index > 0 && PasseiosParadas.length -1 == $index, 'no-radius': $index > 0 &&  $index < PasseiosParadas.length -1}">

                                        <div class="box-header">
                                            <div class="box-title full-width">
                                                <div class="tools pull-right">
                                                    <a data-toggle="collapse" class="fa fa-edit" data-parent="#PasseioAccordion" href="#collapsepasseio{{$index}}" aria-expanded="false" ng-click="CollapseEdit(repeatItem, $index)"></a>
                                                    <a class="fa fa-map-pin" ng-click="PanMapToMark(repeatItem)"></a>
                                                    <a class="fa fa-trash-o" ng-click="DeleteMapMark(repeatItem)"></a>
                                                </div>
                                                <h4 ng-bind="repeatItem.Detail.Title" class="no-margin pull-left"></h4>

                                            </div>
                                        </div>

                                        <div id="collapsepasseio{{$index}}" class="panel-collapse collapse">
                                            <div class="box-body">

                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label>Horario Saida:</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                                                            <input ng-model="repeatItem.Detail.OutTime" type="text" data-toggle="tooltip" title="Informe o horário de saida, moto em movimento." class="form-control" placeholder="0,00">
                                                        </div>
                                                    </div>
                                                </div>

                                               
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </form>





                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>