﻿@using System.Web.Optimization;
@{
    Page.Title = "Amigo Rota";
}
<!DOCTYPE html>
<html>
<head>
    <base href="/AmigoRotaV2">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Page.Title</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap 3.3.5 -->
    @Styles.Render("~/BundleStyles/Bootstrap")

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    
    @Styles.Render("~/BundleStyles/Plugins")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse" ng-app="AmigoRotaWebApp">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>RT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Amigo</b>Rota</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                                                
                        <li class="dropdown notifications-menu" ng-controller="PousoController">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-hotel"></i>
                                <span class="label label-success" ng-bind="PousosHoteis.length" ng-show="PousosHoteis.length > 0"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header" ng-bind-template="Há {{PousosHoteis.length}} Pouso{{PousosHoteis.length > 1 || PousosHoteis.length == 0 ? 's' : ''}} incluidos na expedição"></li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li ng-repeat="Pouso in PousosHoteis">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-hotel text-aqua"></i> <span ng-bind="Pouso.Detail.Title"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="javascript:void(0);" ng-click="GoToView()">Ver todos</a></li>
                            </ul>
                        </li>
                        
                        <li class="dropdown notifications-menu" ng-controller="PasseioController">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-camera"></i>
                                <span class="label label-success" ng-bind="PasseiosParadas.length" ng-show="PasseiosParadas.length > 0"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header" ng-bind-template="Há {{PasseiosParadas.length}} Passeio{{PasseiosParadas.length > 1 || PasseiosParadas.length == 0 ? 's' : ''}} incluidos na expedição"></li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li ng-repeat="repeatItem in PasseiosParadas">
                                            <a href="javascript:void(0);">
                                                <i class="fa fa-camera text-aqua"></i> <span ng-bind="repeatItem.Detail.Title"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="javascript:void(0);" ng-click="GoToView()">Ver todos</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" data-toggle='control-sidebar'><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <amigo-rota-app-menu></amigo-rota-app-menu>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->


        <div class="content-wrapper">
            @RenderBody()


        </div><!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Amigo Rota - Versão</b> 1.0.0
            </div>
            <strong>GitHub:EarthWorm</strong>
        </footer>

        <!-- Control Sidebar -->
		<amigo-rota-configuration-bar></amigo-rota-configuration-bar>
        
    </div><!-- ./wrapper -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDpfg4bfsWD_0x3MWm1vmP_PHuFadeXPQs"></script>

    @Scripts.Render("~/BundleScripts/Plugins")
    
    @Scripts.Render("~/BundleScripts/AngularJS")
    
    @Scripts.Render("~/BundleScripts/AmigoRotaWebApp")
    
</body>
</html>
