﻿<section class="content-header">
    <h1>
        <span ng-bind="SelectedFunction.functionTitle"></span>
        <small ng-bind="SelectedFunction.functionDescription"></small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa" ng-class="SelectedFunction.functionIcon"></i> {{SelectedFunction.functionTitle}}</li>
    </ol>
</section>
