﻿<!--<div class="row">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Insira o endereço da localidade">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
    </div>
</div>-->
<form id="mapSearch">
    <div class="input-group">
        <input type="text" name="q" ng-model="StringLocation" class="form-control" placeholder="Insira o endereço da localidade">
        <span class="input-group-btn">
            <button type="submit" ng-click="FindLocation()" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
    </div>
</form>
<div id="mapPlace" style="width:100%; min-height:560px; "></div>

<script type="text/ng-template" id="infoWindowUserClick">
    <div class="box no-border no-margin">
        <div class="box-header">
            <i class="fa fa-map-signs"></i>
            <h3 class="box-title" ng-bind="Detail.Title"></h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <dl>
                <dt ng-show="Detail.Nights">Número de noites</dt>
                <dd ng-show="Detail.Nights" ng-bind="Detail.Nights"></dd>

                <dt ng-show="Detail.Checkin">Check-In</dt>
                <dd ng-show="Detail.Checkin" ng-bind="Detail.Checkin"></dd>

                <dt ng-show="Detail.Checkout">Check-Out</dt>
                <dd ng-show="Detail.Checkout" ng-bind="Detail.Checkout"></dd>


                <dt>Posição</dt>
                <dd ng-bind="Detail.LatLngString"></dd>
                <dt>Localização</dt>
                <dd ng-bind="Detail.AddressString"></dd>
            </dl>

        </div><!-- /.box-body -->
        <div class="box-footer" ng-show="Detail.IsNew">
            <button type="button" class="btn btn-primary pull-right" ng-click="AddUserMapPoint()">Adicionar ao roteiro</button>
        </div>
    </div>
</script>
