﻿<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li ng-repeat="itemMenu in MenuItensConfiguration.MenuItens" ng-class="{active: MenuItensConfiguration.selectedIndex == $index}">
                <a href="javascript:void(0);" ng-click="ChangeFunction(itemMenu)">
                    <i class="fa" ng-class="itemMenu.functionIcon"></i> <span ng-bind="itemMenu.functionTitle"></span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>