﻿<aside class="control-sidebar control-sidebar-dark">
      
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a> 
                        </li>
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul><!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript::;">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul><!-- /.control-sidebar-menu -->
                </div><!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane active" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">Configurações da Expedição</h3>
						
						<div class="form-group">
							<label class="control-sidebar-subheading">Início da expedição</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar-check-o"></i>
								</div>
								<input date-time-picker-format="DD/MM/YYYY" ng-model="RouteDetails.Checkin" placeholder="Data de Check-In" type="text" date-time-picker class="form-control datepicker" data-toggle="tooltip" title="Informe a data de início da expedição." />
							</div>
							<p>
                                Informe a data de início da sua expedição
                            </p>
						</div>
						
						<div class="form-group">
							<label class="control-sidebar-subheading">Número de noites</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar-check-o"></i>
								</div>
								<select ng-model="RouteDetails.Nights" class="form-control">
									<option value="7">Até 7 Noites</option>
									<option value="14">Até 14 Noites</option>
									<option value="21">Até 21 Noites</option>
									<option value="35">Até 35 Noites</option>
									<option value="42">Até 42 Noites</option>
								</select>
							</div>
							<p>
                                Informe a qui o número máximo de noites que o sistema irá calcular
                            </p>
						</div>
						
						
                        <h3 class="control-sidebar-heading">Configuração de tempo de rota</h3>
						
						
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Quilometragem máx. trechos abastecimento
                            </label>
							
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar-check-o"></i>
								</div>
								<input type="text" ng-model="RouteDetails.SectorKms" class="form-control" data-toggle="tooltip" title="Informe a data de início da expedição." />
							</div>
							
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Consumo Combustível Médio
                            </label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar-check-o"></i>
								</div>
								<input type="text" class="form-control" ng-model="RouteDetails.VehicleConsume" data-toggle="tooltip" title="Informe a data de início da expedição." />
							</div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Valor Médio por Litro Gasolina
                            </label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar-check-o"></i>
								</div>
								<input type="text" class="form-control" ng-model="RouteDetails.GasCost" data-toggle="tooltip" title="Informe a data de início da expedição." />
							</div>
						</div>
						
						<div class="form-group">
                            <label class="control-sidebar-subheading">
                                Tempo Paradas Abastecimento
                            </label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar-check-o"></i>
								</div>
								<input type="text" class="form-control" ng-model="RouteDetails.SectorRestTime" data-toggle="tooltip" title="Informe a data de início da expedição." />
							</div>
                        </div>
						<div class="form-group">
                            <label class="control-sidebar-subheading">
                                Tempo Parada Almoço
                            </label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar-check-o"></i>
								</div>
								<input type="text" class="form-control" ng-model="RouteDetails.PathLunchTime" data-toggle="tooltip" title="Informe a data de início da expedição." />
							</div>
                        </div>
						<div class="form-group">
                            <label class="control-sidebar-subheading">
                                Horas a mais para trecho complicado
                            </label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar-check-o"></i>
								</div>
								<input type="text" class="form-control" ng-model="RouteDetails.SectorHeavyTrafficAddTime" data-toggle="tooltip" title="Informe a data de início da expedição." />
							</div>
                        </div>
						<div class="form-group">
                            <label class="control-sidebar-subheading">
                                Horas a mais para trecho severo	
                            </label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar-check-o"></i>
								</div>
								<input type="text" class="form-control" ng-model="RouteDetails.SectorModerateTrafficAddTime" data-toggle="tooltip" title="Informe a data de início da expedição." />
							</div>
                        </div>
                    </form>
                </div><!-- /.tab-pane -->
            </div>
        </aside>
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>