﻿@using System.Web.Optimization;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "Home Page";
    Page.ModuleTitle = "Dashboard";
}


<!-- Content Header (Page header) -->
<amigo-rota-app-bread-crumb></amigo-rota-app-bread-crumb>
<!-- Main content -->
<section class="content" >
    <div ng-view></div>
</section><!-- /.content -->


